{% extends "base.html" %}

{% block title %}Containers{% endblock %}

{% block content %}
<main class="center-align margin">
    <article class="margin">
    <h1 class="primary-text">{{container.name}} container</h1>
        <div class="row">
            <div class="max">
                <p>Status: <b>{{ lxc_container_status }}</b>
                    {% if lxc_container_uptime %}
                    , Uptime: {{ lxc_container_uptime }}
                    {% endif %}
                </p>
            </div>
            <div>
                <form action="{{ url_for("user_containers.container",
                    id=container.id,
                    action=("start" if lxc_container_status == "stopped" else "stop")
                    ) }}" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    {% if  %}
                        <button>
                            <i>play_circle</i> Start
                        </button>
                    {% else %}
                        <button>
                            <i>stop_circle</i> Stop
                        </button>
                    {% endif %}
                </form>
            </div>
        </div>
    </article>
</main>
{% endblock %}